body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #2a478d;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    text-align: center;
    font-size: 25px;

}

#container {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 28px;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    width: 60%;
    margin: 10px;
    max-width: 480px;
    text-align: center;
    font-size: 18px;
}


#heading-el {
    color: rgba(240, 240, 0, 0.888);
    margin: 3px;
}

#results-info {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-bottom: 10px;
}


#instruct-el
{
    display: none;
    font-size: 20px;
    padding: 5px 0px;
    color: white;
}

#images
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
}

img{
    width : 33%;
}

#buttons
{
    display: none;
}

#button-el {
    border: none;
    padding: 5px 15px;
    margin: 10px 10px;
    font-size: 20px;
    background-color: rgb(255, 245, 45);
    border-radius: 3px;
    font-weight: bold;
    color:  rgb(0, 0, 55);
}


#button-el:hover
{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    transition: all 300px ease;
}

#button-el:active
{
    transform: scale(0.96);
}


#startBtn-el
{
    border: none;
    background-color: rgb(154, 255, 53);
    padding: 8px 12px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    color: rgb(0, 0, 55);
}

#startBtn-el:hover
{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: all 300ms ease;
    
}

#startBtn-el:active
{
    transform: scale(0.96);
}

